<h1 style ="text-align:center; font-family:Verdana"> All the Shelters! </h1>

<% @shelters.each do |shelter| %>
    <ul style= "font-family:Verdana"><%= shelter.name %></ul>
    <% end %>
<a href='/shelters/new'> New Shelter </a>
