<h1> New Pet </h1>

<form action="/pets" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <input type="hidden" name="pet[shelter_id]" value="<%= @shelter_id %>">

    <p style= "text-weight: bold"> Image: </p>
  <input type='text' name='pet[image]'/><br/>

    <p style= "text-weight: bold"> Name: </p>
  <input type='text' name='pet[name]'/><br/>

    <p style= "text-weight: bold"> Description: </p>
  <input type='text' name='pet[description]'/><br/>

    <p style= "text-weight: bold"> Age: </p>
  <input type='text' name='pet[age]'/><br/>

    <p style= "text-weight: bold"> Sex: </p>
  <input type='text' name='pet[sex]'/><br/>

  <input type='submit'/>
</form>
