<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <a href="/shelters"> Shelters</a> &nbsp;&nbsp;
      <a href="/pets"> Pets</a>
      <header>
    <%= yield %>
  </body>
</html>
